.pinterest-button {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin: 0.5em auto;
}

.pinterest-button .pin-it {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.pinterest-button:hover .pin-it {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.pin-it {
    display: block;
    width: 75px;
    height: 65px;
    background-image: url('img/pinterest.png');
    background-size: 100%;
    z-index: 10;
    top: 2rem;
    right: 1rem;
    position: absolute;
    transition: all 0.35s;
}